nav{
    background-color: #040c2f;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}



nav ul{
    
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
nav ul li{
    margin: 10px;
}
nav  ul li a{
    text-decoration: none;
    color: #fff;
}
nav button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff9356;
    border-radius: 2px;
}

