@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3, h4, h5, h6 {
    font-family: "Playfair-Display", serif;
}


.slick-slide>div{
  margin: 0px 10px;
}

.slick-slider {
  transition: all 0.6s ease; /* Adjust the duration and easing function as needed */
}

.slick-slide {
  transition: transform 0.6s ease; /* Adjust the duration and easing function as needed */
}

.job-card:nth-child(even) {
  background-color: #ffffff; /* Alternate color */
}


.navbar{
  @apply bg-secondary-500 w-full py-3 px-screen-padding flex justify-between items-center h-20;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
