@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair-Display", serif;
}

/* width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* background of the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-secondary-500;
}

/* color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded-xl;
}

.slick-slide > div {
  margin: 0px 10px;
}

.slick-slider {
  transition: all 0.6s ease; /* Adjust the duration and easing function as needed */
}

.slick-slide {
  transition: transform 0.6s ease; /* Adjust the duration and easing function as needed */
}

.job-card:nth-child(even) {
  background-color: #ffffff; /* Alternate color */
}

.navbar {
  @apply bg-secondary-500 w-full py-3 px-screen-padding flex justify-between items-center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_bar::after {
  @apply content-[''] bg-primary-500 h-[1px] w-[0%] left-0  -bottom-[0px] rounded-xl absolute duration-500;
}
.nav_bar:hover::after {
  @apply w-[100%];
}

.ImgResponsive {
  @apply w-[80vw] sm:w-[65vw] md:w-[35vw];
}

.logo-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.companies-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.ceo-socials path {
  fill: gray;
}
.ceo-socials a {
  width: 30%;
  min-width: 25px;
}
.ceo-image {
  transition: scale 0.5s ease;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}
.ceo-container path {
  transition: fill 0.5s ease;
}
.ceo-container:hover path {
  fill: black;
}
.ceo-container:hover .ceo-image {
  scale: 1.05;
}

/* For auto-horizonal-infinite scorll */
.pause-animation {
  animation-play-state: paused;
}

@media (max-width: 639px) {
  .max-w-sm-responsive {
    @apply max-w-sm;
  }
}

@layer utilities {
  .border-gradient {
    border-image: linear-gradient(to bottom, #ff9356, #ffffff);
    border-image-slice: 1;
  }
}

.submitted {
  cursor: none;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.2s ease, visibility 0.2s ease,
    transform 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 60px;
  right: -5px;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  background-color: none;
  color: white;
  cursor: pointer;
  z-index: 999;
}

.myCard {
  background-color: transparent;
  perspective: 1000px;
}

.innerCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  color: white;
}

.backSide {
  transform: rotateY(180deg);
}

@keyframes cardFlip {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
