@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3, h4, h5, h6 {
    font-family: "Playfair-Display", serif;
}

.slick-slide>div{
  margin: 0px 10px;
}